In [4]:
#dependencies
import csv
import pandas as pd
import numpy as np

# File to Load 
df1= pd.read_csv("timeofday (1).csv", skiprows=4)
df2= pd.read_csv("timeofday (2).csv", skiprows=4)
df3= pd.read_csv("timeofday (3).csv", skiprows=4)
df4= pd.read_csv("timeofday (4).csv", skiprows=4)

#merge 4 csv files into one file 
muestra_de_venta_df=df1.append(df2).append(df3).append(df4)
muestra_de_venta_df.head()

/Users/tomokot/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Order Date,Order Time,Media,Campaign,Type,Cust No,Name,Sex,Age,Customer Phone,...,Email,Ship Date,State,CompanyId,DID No,Txn Ref/Cheque #,Payment Reference Number,Delivery Date,Carrier,Tracking No
0,2017-01-01,00:54,MCTV InBound,NaN,T,8795159.0,WILBERT ALEXANDER LOPEZ TOLEDO,NaN,NaN,4567-3138-1561,...,NaN,2017-01-02,Sin.,11.0,NaN,NaN,NaN,2017-01-02,MultiPack (COD),785191602575 | FEDEX
1,2017-01-01,01:57,MCTV InBound,NaN,T,8795203.0,ROSA MARIA GOMEZ GOMEZ,NaN,NaN,4565-6103-7679,...,NaN,2017-01-02,Chih.,11.0,NaN,NaN,NaN,2017-01-02,UPS (COD),1Z30V80W0416288567 | UPS
2,2017-01-01,02:40,MCTV InBound,NaN,T,8795211.0,PATRICIA ROMERO BELLO,M,NaN,0501-2230-0211,...,NaN,2017-01-02,Pue.,11.0,NaN,NaN,NaN,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA
3,2017-01-01,02:40,MCTV InBound,NaN,T,8795211.0,PATRICIA ROMERO BELLO,M,NaN,0501-2230-0211,...,NaN,2017-01-02,Pue.,11.0,NaN,NaN,NaN,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA
4,2017-01-01,02:40,MCTV InBound,NaN,T,8795211.0,PATRICIA ROMERO BELLO,M,NaN,0501-2230-0211,...,NaN,2017-01-02,Pue.,11.0,NaN,NaN,NaN,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA

In [5]:
#put all the data into a data frame 
df_cleaned =muestra_de_venta_df[["Order Date","Cust No", "Postcode", "Agent", "Order ref", "Order Source",
                                                              "Disc Code", "Status", "Payment", "Item", "Description", "Qty", "Value net", 
                                                              "P&P net", "Invoice Fee", "Total net", "Item Type", "Ship Date", "State", 
                                                              "Delivery Date", "Carrier", "Tracking No"]]
df_cleaned.head()

,Order Date,Cust No,Postcode,Agent,Order ref,Order Source,Disc Code,Status,Payment,Item,...,Value net,P&P net,Invoice Fee,Total net,Item Type,Ship Date,State,Delivery Date,Carrier,Tracking No
0,2017-01-01,8795159.0,80884,tzijarodigue,MX7072652,Drtv,gme050,Returned,COD,370001MX,...,2994.0,114.0,0.0,3108.0,Main,2017-01-02,Sin.,2017-01-02,MultiPack (COD),785191602575 | FEDEX
1,2017-01-01,8795203.0,32000,tzijarodigue,MX7072654,Drtv,NaN,Returned,COD,370001MX,...,2994.0,228.0,0.0,3222.0,Main,2017-01-02,Chih.,2017-01-02,UPS (COD),1Z30V80W0416288567 | UPS
2,2017-01-01,8795211.0,72180,tzijarodigue,MX7072656,Drtv,gme050,Returned,COD,032002MX,...,1995.0,114.0,0.0,2109.0,Main,2017-01-02,Pue.,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA
3,2017-01-01,8795211.0,72180,tzijarodigue,MX7072656,Drtv,gme050,Returned,COD,032020MX,...,0.0,114.0,0.0,114.0,Upsell,2017-01-02,Pue.,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA
4,2017-01-01,8795211.0,72180,tzijarodigue,MX7072656,Drtv,gme050,Returned,COD,032025MX,...,0.0,0.0,0.0,0.0,Upsell,2017-01-02,Pue.,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA

In [6]:
#solo sacar DRTV de order source (opcion)
df_onlyDRTV= df_cleaned.loc[df_cleaned["Order Source"] == "Drtv"]
df_onlyDRTV.head()

,Order Date,Cust No,Postcode,Agent,Order ref,Order Source,Disc Code,Status,Payment,Item,...,Value net,P&P net,Invoice Fee,Total net,Item Type,Ship Date,State,Delivery Date,Carrier,Tracking No
0,2017-01-01,8795159.0,80884,tzijarodigue,MX7072652,Drtv,gme050,Returned,COD,370001MX,...,2994.0,114.0,0.0,3108.0,Main,2017-01-02,Sin.,2017-01-02,MultiPack (COD),785191602575 | FEDEX
1,2017-01-01,8795203.0,32000,tzijarodigue,MX7072654,Drtv,NaN,Returned,COD,370001MX,...,2994.0,228.0,0.0,3222.0,Main,2017-01-02,Chih.,2017-01-02,UPS (COD),1Z30V80W0416288567 | UPS
2,2017-01-01,8795211.0,72180,tzijarodigue,MX7072656,Drtv,gme050,Returned,COD,032002MX,...,1995.0,114.0,0.0,2109.0,Main,2017-01-02,Pue.,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA
3,2017-01-01,8795211.0,72180,tzijarodigue,MX7072656,Drtv,gme050,Returned,COD,032020MX,...,0.0,114.0,0.0,114.0,Upsell,2017-01-02,Pue.,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA
4,2017-01-01,8795211.0,72180,tzijarodigue,MX7072656,Drtv,gme050,Returned,COD,032025MX,...,0.0,0.0,0.0,0.0,Upsell,2017-01-02,Pue.,2017-01-02,CARSSA (COD),MEXPBC17013644997 | CARSSA

In [7]:
#order by order reference 
df_orderref=df_onlyDRTV.groupby(["Order ref"]).agg({"Cust No":"first", "Postcode":"first", "Total net":"sum"}).reset_index()
df_orderref.head()

   Order ref    Cust No Postcode  Total net
0  MX7072652  8795159.0    80884     3108.0
1  MX7072654  8795203.0    32000     3222.0
2  MX7072656  8795211.0    72180     2223.0
3  MX7072660  8795333.0    72310     3113.0
4  MX7072662  8795371.0    24350     3455.0